h1 {
    margin-left: 32%;
    width: 100%;
}

h2 {
    -webkit-text-stroke: 0.2px black;
    text-align: center;
    width: 100%;
    font-size: 300%;
}

a {
    -webkit-text-stroke: 0.2px black;
    text-decoration: none;
    margin-bottom: 3%;
    margin-left: 45%;
    width: 100%;
    font-size: 225%;
    font-family: serif;
}